body {
    margin: 0;
    background-color: #1B244A;
    
}

h3 {
    color: #EEEEEE;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    /* line-height: 36px; */
    text-align: center; 
    margin-bottom: 21px;
    margin-top: 68px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.background {
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
    background: #080001;
    border-radius: 5px;
    margin-bottom: 26px;
    margin-top: 21px;
}

#home-points-text {
    text-align: center;
    font-family: 'Cursed Timer ULiL';
    color: #F94F6D;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
}

button {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8; 
    background-color: #1B244A;
}

.plus-btn {
    display: flex;
    justify-content: space-around;
}

